@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    --bright-orange:hsl(31, 77%,52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --very-dark-cyan:hsl(179, 100%, 13%);
}
* {
    font-size:15px;
    margin:0;
    font-family:'Lexend Deca', sans-serif;
    color:#fff;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
main{
    width:325px;
}
section {
    width:100%;
    padding:10%;
}
.section1 {
    background:var(--bright-orange);
}
.section2 {
    background:var(--dark-cyan);
}
.section3 {
    background:var(--very-dark-cyan);
}
article {
    width:80%;
    height:80%;
    
}

button {
    border:none;
    border-radius:12px;
    background:#fff;
    padding-inline:10px;
    margin-top:1em;
    padding-block:5px;
}
button:hover {
    background:transparent;
    color:#fff;
    border:2px solid #fff;
}
h1 {
    margin-block:2em;
    font-family:'Big Shoulders Display', sans-serif;
}
.sedans {
    color:var(--bright-orange);
}
.suv {
    color:var(--dark-cyan);
}
.luxury {
    color:var(--very-dark-cyan);
}
footer {
    margin-block-end:0;
   /* position:relative;
    bottom:0;*/
}
@media screen and (min-width:500px) {
    body {
        justify-content:center;
    }
    main {
        width:90%;
        display:flex; 
    }
    section {
        padding:5%;
    }
    button {
        margin-top:2em;
    }
}
@media screen and (min-width:800px) {
    
    main {
        width:80%;
        
    }
    section {
        padding:7%;
    }
    button {
        margin-top:3em;
    }
}

@media screen and (min-width:1440px) {
    main {
        width:60%;
        display:grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-template-rows: 1fr;
    }
    button {
        margin-top:4em;
    }
}
